@import 'vars';
@import 'reset';
@import 'libs';
@import 'global';
@import 'animation';
@import 'components/footer';
@import 'components/header';
@import 'components/top';
@import 'components/cards';
@import 'components/partners';
@import 'components/contact';
@import 'components/hear';
@import 'components/steps';
@import 'components/buisnes';
@import 'components/yes-no';
@import 'components/opportunities';
@import 'components/qr-code';
@import 'components/downoload';
@import 'components/integration';
@import 'components/seo';
@import 'components/description-card';
@import 'components/long-card';
@import 'components/orange-list';
@import 'components/coulumn';
@import 'components/menu';
@import 'components/payment';
@import 'components/design';
@import 'components/design-accardeon';
@import 'components/design-cards';
@import 'components/design-list';
@import 'components/mult';
@import 'components/text';
@import 'components/items';
@import 'components/info';
@import 'components/mission';
@import 'components/bg-pages';
@import 'components/popups';
@import 'components/select';
@import 'media';

