// LONG CArD style ----------------------------------------------------------------------------------------------
// -----------------------------------------------------------------------------------------------------------

.long-card.small-down{
  margin-top: 206px;
  margin-bottom: 30px;
}

.long-card.smal{
  margin-bottom: 30px;
  margin-top: 63px;
}

.long-card.revers{
  .long-card__inner{
    flex-direction: row-reverse;
  }
  .long-card__img {
    margin-top: -196px;
  }
}

.long-card {
  margin-bottom: 100px;
  margin-top: 215px;
  &__inner.smal{
    max-height: 302px;
  }
  &__inner {
    display: flex;
    max-height: 313px;
    border-radius: 30px;
    background-color: $white-gray;
  }
  &__content.smal{
    max-width: 640px;
    margin-right: 30px;
  }
  &__content {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 60px;
    max-width: 510px;
  }
  &__title {
    @include text-style($orange-color, 34px, 36px, 700);
    margin-bottom: 20px;
    margin-top: 30px;
    text-transform: uppercase;
  }
  &__text {
    @include text-style($dark-color, 16px, 27px, 500);
    margin-bottom: 20px;
  }
  &_btn {
    width: 510px;
  }
  &__img {
    max-width: 570px;
    height: 100%;
    margin-top: -170px;
  }
  &__img.smal{
    max-width: 470px;
    margin-top: -29px;
    margin-right: 30px;
  }
}

// ----------------------------------------------------------------------------------------------------------
// -----------------------------------------------------------------------------------------LONG CArD style end